<div class="container">
    <div class="tabcon" data-dojo-type="dijit/layout/TabContainer" style="height:500px; width:400px;" doLayout="true">
        <div class="tabcon" data-dojo-type="dijit/layout/ContentPane" title="tab1" >
            date:<input  data-dojo-type="dijit/form/DateTextBox"/>
        </div>
        <div class="tabcon" data-dojo-type="dijit/layout/ContentPane" title="tab2" >
            abc
        </div>
        <div class="tabcon" data-dojo-type="dijit/layout/ContentPane" title="tab3" >
            efg
            <div  data-dojo-type="dijit/form/DropDownButton">
                <span>Register</span>
                <div data-dojo-type="dijit/TooltipDialog">
                </div>
            </div>
            <div class="tabcon" data-dojo-type="dijit/form/ComboButton">
                <span>get all mail</span>
                <div data-dojo-type="dijit/DropDownMenu">
                    <div data-dojo-type="dijit/MenuItem" data-dojo-props="onClick:function(){console.log('hi!')}">Yahoo</div>
                    <div data-dojo-type="dijit/MenuItem" data-dojo-props="onClick:function(){console.log('ho!')}">Google</div>
                </div>
            </div>
        </div>

    </div>
    <button id="progButtonNode" type="button"> dddddd</button>
    <div id="result"> </div>
    <body class="claro">
    <div style="width: 350px; height: 290px">
    <div id="tc1-prog"></div>
    </div>
</div>